
.argument {
  width: 150px;
}
.start-time {
  width: 150px;
}
.exec-ms {
  width: 80px;
}
.exec-percent {
  width: 100px;
}
.self {
  width: 100px;
}
.api {
  width: 120px;
}
.agent {
  width: 150px;
}
.application {
  width: 150px;
  text-align: center;
}
.max-time {
  width: 150px;
}
.method {
  width: 300px;
}
.avg-time {
  width: 150px;
}
.min-time {
  width: 150px;
}
.count {
  width: 120px;
}
.sum-time {
  width: 150px;
}
.type {
  width: 60px;
}
